* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
}
.header {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
}
.logo-image {
    width: 20%;
    height: 100%;
}
.button-image {
    width: 25%;
    height: 100%;
}
.hero {
    background-color: #509BF5;
   height: 50%;
   
   color: white;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: last baseline;
   align-content: center;
}
.hero-title {
    font-size: 3.8rem;
    padding: 5px 10px;
    margin-top: 100px;;
     
}
.hero-subtitle{
    font-size: 2.1rem;
    padding: 5px 10px;
}
.hero-button {
    background-color: rgb(8, 208, 8);
    border-radius: 20px;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 10px;
    text-transform: uppercase;
}
.hero-text {
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 15px;
    
}

.beneficies {
    padding: 30px 20px 40px 20px;
}
.beneficies-title {
    text-align: center;
    font-size: 2.4rem;
}

.l.beneficies-list {
    padding: 10px;
    
    display: flex;
    flex-direction: column;
}
.beneficies-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
    margin: 20px;
}
.beneficies-item img {
    width: 60px;
    height: 60px;
    
}
.texto-item {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 10px;
    

}
